.line {
    clear: both;
    float: left;
    width: 1000px;
    height: 100px;
}

.cell {
    float: left;
    width: 100px;
    height: 100px;
}

.black{
    background-color: black;
    outline: 1px solid black;
}

.white{
    background-color: white;
    outline: 1px solid black;
}

.name {
    text-align:center;
    font-size:300%;
    padding-top: 20px;
}